<div class="col-md-8 col-md-offset-2">
<h1>Upcoming Events Near You</h1>
<% present_collection @events do |events_presenter| %>
  <ul>
    <%= events_presenter.in_rows_of(1) %>
  </ul>
<% end %>
</div>