<h1>Upcoming Events Near You</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Game</th>
      <th>Host</th>
      <th>Min Players</th>
      <th>Max Players</th>
      <th>Players Attending</th>
      <th></th>
    </tr>
    <%= render @events %>
</table>