<li class="media game-partial">
  <div class="media-left">
    <%= image_tag game.thumb_url, class: 'media-object' %>
  </div>
  <div class="media-body">
    <h4 class="media-heading"><%= game.name %></h4>
      <%= truncate(game.description, length: 80) %>
  </div>
</li>