@import "bootstrap-sprockets";
@import "bootstrap";

// ----------------------------------------
// Boostrap extends and overwrites
// ----------------------------------------

.alert-notice {
  @extend .alert-success;
}

.alert-alert {
  @extend .alert-danger;
}


.panel {

  .panel-body {
    background: #eee;
  }

  .panel-heading, .panel-footer {
    background: #fbfbfb;
  }
}

// ----------------------------------------
// Global Styes
// ----------------------------------------

ul {
  list-style: none;
  padding: 0;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0));
}